<ion-header >
  <ion-navbar >
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="course" padding>
<ion-list no-lines>
  <ion-list-header style="color:black">
    CODETRIBE CURRICULUM
  </ion-list-header>
</ion-list>
<ion-card-content class="Courses">
<button ion-item *ngFor="let course of arrcourses "(click)="Submit(course)">

<ion-icon name="{{course.icon}}" item-left></ion-icon>

<h3>Course:{{course.number}}</h3>
<h2>{{course.title}}</h2>
<h2>duration:{{course.weeks}} Weeks</h2>

<div class="lesson" *ngFor="let lesson of  course.lessons,let i = index">
    <p text-color="black">lesson:{{lesson.number}} {{lesson.title}}</p>

</div>

</button>

</ion-card-content>
</ion-content>

