.card{
     
      background-color:pink;
        font-weight: bold;
        color: purple;
        
     .pic{
         height:50%;
         width:50%;
        border-radius: 10%;

     }
       .Cards{
         background-color:darksalmon;
       }
        
      

}
